<!-- This section is used for Footer section --> 
<div class="footer" style="background-color:#333333;color:#fff;margin-top:40px" id="footer"> 
  <div class="container" style="padding-top:20px;"> 
    <div class="row"> 
      <div class="col-xs-12 col-sm-12 col-md-4"> 
        <p class="app-subheading">ADDRESS</p> 
        <p style="font-size:18px;">
            Digibot Labs
        </p> 
        
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4"> 
        <p class="app-subheading">CONTACT</p> 
        <p style="font-size:18px;">
          <i class="fa fa-phone" ></i>&nbsp;+91 7999-931-843<br>
        </p> 
        <p style="font-size:18px;">
          <i class="fa fa-envelope" style="word-wrap:break-word;"></i>&nbsp;digibotlabs@gmail.com
        </p> 
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4"> 
        <br> 
        <p style="padding-top:15px;font-size:18px;" class="text-center">&copy;2017 Designedby <a href="http://profilerobo.com" style="color:#fff;" target="_BLANK">Rahul Shaw</a>
        </p> 
         
        <p> 
          <ul class="list-inline text-center"> 
            <li><a href="https://www.facebook.com/digibotlabsIN" target="_BLANK" style="color:#fff"><i class="fa fa-facebook-square fa-2x"></i></a></li> 
             
          </ul> 
        </p> 
      </div> 
    </div>
  </div>
  
</div>